.container,
.code {
	width: 100%;
}

input + button {
	margin-left: 0.25rem;
}

.filename,
.code-wrapper {
	color: white;
	background-color: black;
	border: 1px solid #6fc3df;
}

.filename {
	width: fit-content;
	padding: 0.25rem 0.5rem;
	margin-bottom: -1px !important;
	display: flex;
	align-items: center;
}

.filename.active {
	outline: 1px solid rgb(243, 133, 24);
	outline-offset: -5px;
}

.filename i:before {
	margin-right: 10px;
}

.filename i.python {
	color: #519aba;
}

.code-wrapper {
	width: 100%;
	overflow: auto;
	margin-bottom: 1rem;
}

code {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	font-weight: bold;
	line-height: 19px;
	white-space: nowrap !important;
	display: none;
	width: fit-content;
	color: inherit;
	background-color: transparent;
	padding: 1.5rem;
	padding-top: 1rem;
}

code.active {
	display: block;
}

code .indent {
	border-left: 1px solid white;
}

.indent > span::before {
	content: "\A0\A0\A0\A0";
}

.indent > div.indent {
	margin-left: 32px;
}

code span.p {
	color: #c586c0;
}

code span.b {
	color: #569cd6;
}

code span.lb {
	color: #9cdcfe;
}

code span.t {
	color: #4ec9b0;
}

code span.g {
	color: #7ca668;
}

code span.lg {
	color: #b5cea8;
}

code span.y {
	color: #dcdcaa;
}

code span.o {
	color: #ce9178;
}

code span.op {
	color: #d4d4d4;
}
